 body { 
            background-color:black;}
        
        h1 {
            color:lightcoral;
            font-family:monospace, sans-serif;
            font-size:20}
               
        p {
           color:lightcoral;*/
            background-color: navy;
            font-family: sans-serif;
            font-size:16px;
            font-weight:600;}
        
        ul {color:lightcoral;
            font-weight:bold}

        .bold{ font-weight:bold;
}